<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Order Management Subsystem</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

<div class="container">

    <h1>Order Management Subsystem</h1>
    <hr>
    <h2>Add new order</h2>

    <form action="#" th:action="@{/order/save}" th:object="${order}" method="POST">

        <label>Buyer ID</label>
              <select th:field="*{buyerId}" class="form-control mb-4 col-4">
                     <option th:each="buyer : ${buyers}"
                            th:value="${buyer.buyerId}"
                            th:text="${buyer.firstName + ' ' + buyer.lastName}">
                     </option>
              </select>

       <label>Order Status</label>
       <select th:field="*{stringOrderStatus}" class="form-control mb-4 col-4">
              <option th:each="status : ${T(hr.abysalto.hiring.api.junior.model.OrderStatus).values()}"
                     th:value="${status}"
                     th:text="${status}">
              </option>
       </select>

       <label>Payment Option</label>
       <select th:field="*{stringPaymentOption}" class="form-control mb-4 col-4">
              <option th:each="payment : ${T(hr.abysalto.hiring.api.junior.model.PaymentOption).values()}"
                     th:value="${payment}"
                     th:text="${payment}">
              </option>
       </select>

       <label>Delivery Address ID</label>
       <select th:field="*{deliveryAddressId}" class="form-control mb-4 col-4">
       <option value="">Select address</option>
       <option th:each="address : ${addresses}"
                     th:value="${address.buyerAddressId}"
                     th:text="${address.city + ', ' + address.street + ' ' + address.homeNumber}">
       </option>
       </select>

        <input type="text" th:field="*{contactNumber}" placeholder="Contact Number"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{currency}" placeholder="Currency"
               class="form-control mb-4 col-4">

       <textarea th:field="*{note}" class="form-control mb-4 col-4" placeholder="Note"></textarea>

        <input type="text" th:field="*{totalPrice}" placeholder="Total Price"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save Order</button>

    </form>

    <hr>

    <a th:href="@{/order/}">Back to list of orders</a>

</div>

</body>
</html>